.slider {
  margin: 0 70px;
  margin-top: 110px;
  overflow: hidden;

  @media screen and (max-width: 900px) {
    margin-bottom: 50px;
  }

  @media screen and (max-width: 700px) {
    margin: 0 5px;
    margin-top: 50px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;

    @media screen and (max-width: 700px) {
      margin-bottom: 15px;
    }
  }

  &__title {
    color: rgb(68, 68, 68);
    font-family: Proxima Nova Cn Lt;
    font-size: 56px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    white-space: nowrap;

    @media screen and (max-width: 700px) {
      color: rgb(68, 68, 68);
      font-family: Proxima Nova Cn Lt;
      font-size: 28px;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: left;
    }
  }

  &__nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  &__button-left,
  &__button-right {
    border-radius: 100%;
    background: rgb(240, 240, 240);
    width: 56px;
    height: 56px;
    position: relative;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &__arrow-left,
  &__arrow-right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__content {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;

    @media screen and (max-width: 700px) {
      margin-bottom: 50px;
    }
  }

  &__image {
    min-width: 100%;
    object-fit: cover;
  }

  &__indicators {
    margin: 28px 0 67px 0;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  &__indicator {
    background: rgb(0, 0, 0);
    opacity: 0.1;
    position: static;
    width: 214px;
    height: 6px;
    cursor: pointer;

    &:hover {
      opacity: 0.08;
    }

    &--active {
      background: rgb(163, 12, 51);
      opacity: 1;

      &:hover {
        opacity: 1;
      }
    }
  }
}
